* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background-color: #1c232e; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: #53ac59; 
    background-color: transparent !important
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    background-color: transparent !important
}

.nav-links a {
    text-decoration: none;
    color: white; 
    font-weight: 500;
    transition: color 0.3s ease;
    background-color: transparent; 
    padding: 5px 10px; 
}

.nav-links a:hover {
    color: #54ac59; 
}
